.input1 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffffff
}
.btnCss
{
	border-right: darkgray 1px solid;
	background-position: center center;
	border-top: darkgray 1px solid;
	font-size: 12px;
	background-image: url(treeimages/desc.gif);
	border-left: darkgray 0px solid;
	width: 16px;
	color: black;
	padding-top: 1px;
	border-bottom: darkgray 1px solid;
	background-repeat: no-repeat;
	height: 20px;
	background-color: White;
    color:White;
}
.Treediv
{
	display: inline;
	z-index: 107;
	left: 274px;
	visibility: hidden;
	overflow: auto;
	width: 150px;
	position: absolute;
	top: 139px;
	height: 195px;
	background-color: #F3F3F3;
	border: #919b9c 1px solid;
}